<html>
	<head>
		<title>John's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Jonatan Blog</a></h1>
		</div>
		<div>
			<p>Published: 12345</p>
			<h2><a href="">My first post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo illo repudiandae eos minus eius, nam, pariatur, nemo at illum quae id debitis neque, voluptate maxime officia magni sunt quidem ipsa.</p>
		</div>
		<div>
			<p>Published: 12345</p>
			<h2><a href="">My first post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque culpa alias numquam accusamus veniam consectetur officia! Aperiam quia, eos magni sequi explicabo suscipit omnis molestias dolor, quis, perferendis quae voluptatibus.</p>
		</div>
	</body>
</html>